// color vars

$primary-color: #2FA8DD;
$secondary-color: #59C1AE;
$tertiary-color: #D269E1;
$off-white-bg-color:#E5E9EA;
$extra-light-gray-color: #f2f2f2;
$light-gray-color: #bbbbbb;
$gray-color:#666666;
$dark-gray-color:#333333;
$success-color:#a8d587;
$warning-color:#f0ad4e;
$yellow-color:#FBBB42;
$green-color: #9ACA40;
$orange-color: #F63706;
$text-color: #434549;
$body-text-color: #888888;
$dark-text-color: #2A2A2A;
$black-color:#010101;
$link-color: #4A90E2;
$border-color:#E2E2E2;