form{
	.form-control{
		box-shadow:none;
		border-radius:3px;
		border-color:#CFCFCF;
	}
}

//contact form 7

div.wpcf7-response-output{
	margin:0!important;
	font-size:.8em!important;
}



span.wpcf7-not-valid-tip{
	font-size:.8em!important;
	position:relative;
	top:4px;
	text-align:left!important;
}

div.wpcf7-validation-errors{
	@extend .alert;
	@extend .alert-warning;
}

div.wpcf7-mail-sent-ok{
	margin:0;
	@extend .alert;
	@extend .alert-success;
}