ul.nav-pills{
  margin:0;
  padding:0;
	li{
		text-transform:uppercase;
		font-family:$flourish-font-name-bold;
		letter-spacing:1pt;
		a{
			color:$primary-color;
			transition-duration:.2s;
			&:hover{
				background:none;
				color:$light-gray-color;
			}
			&:focus{
				background:none;
			}
		}
	}
}

ul.pager{
	li{
		a{
			text-transform:uppercase;
			letter-spacing:2px;
			font-family:$flourish-font-name;
			font-weight:900;
			font-size:.8em;
			padding:$baseline/2 $baseline*1.5;
			border-radius:300px;
		}
	}
}