.main-nav{
	transition-duration:.4s;
	background-color:rgba(0,0,0,.15);
	box-shadow:none;
	border:none;
	padding:$baseline/2 0;
	&.scrolled-nav{
		background-color:$black-color;
	}
	.logo-svg{
		//to-do:changing menu
	}
	.navbar-brand{
		padding-top:0;
		padding-bottom:0;
	}
	.social-nav{
		float: right;
	}
	.main-links{
		float: right;
	}
	a{
		&.navbar-brand{
			position:relative;
			top:12px;
		}
	}
	.navbar-toggle{
		border:none;
		&:hover{
			background-color:transparent;
		}
	}
	span.menu-text{
		font-family:$flourish-font-name;
		font-weight:900;
		text-transform:uppercase;
		font-size:13px;
		margin-right:10px;
		letter-spacing:1.5px;
	}
	ul.main-links{
		padding:6px 0;
		li{
			font-family:$flourish-font-name;
			font-weight:900;
			text-transform:uppercase;
			font-size:.7em;
			letter-spacing:1.5px;
			float: left;
			a{
				transition-duration:.2s;
				color:white;
				&:hover{
					color:$primary-color;
					background:transparent;
				}
				&:focus{
					background:transparent;
				}
			}
		}
	}
	.btn{
		padding:$baseline/2.5 $baseline;
		font-size:.7em;
		  @include breakpoint(md) {
		    width:100%;
		  }
	}
	.btn-twitter{
		background-color:#5EA9DD;
		border-color:#5EA9DD;
		padding:3px 8px;
	}
	.btn-facebook{
		background-color:#3B5998;
		border-color:#3B5998;
		padding:3px 13px;

	}
	.btn-social{
		font-family:$social-font-name;
		font-size:1.4em;
		color:white;
	}
}

//hide links to show dynamic menu

.main-nav{
	.nav-links{
		@include breakpoint(md){
			display:none;
		}
	}
}