section{
	&.home-video{
		background:$black-color url("/images/home_bg_placeholder@2x.png") no-repeat scroll center top;
		// background-color:$black-color;
		background-size:cover;
		  position: relative;
		  overflow-y: hidden;
		  overflow-x: hidden;
		  color: white;

		video {
		  position: absolute;
		  // opacity:.7;
		  min-height: 100%;
		  min-width: 100%;
		  left: 0;
		  bottom: 0;
		  right: 0;
		  z-index: 0;
		}
		.container{
			z-index: 1;
			position:inherit;
		}
			.down-link{
			margin-top:$baseline;
			color:rgba(255,255,255,.5);
			display:inline-block;
			font-size:2em;
			&:hover{
				color:white;
			}
		}
	}
}


//slider

	section.press-slider{
		background-color:$off-white-bg-color;
		margin-top:$baseline*2;
		padding:0 0;
		p.lead{
			color:$text-color;
			font-style:italic;
		}
	  @include breakpoint(md) {
	  	.padded{
	  		padding:0!important;
	  	}
	    p.lead{
	    	font-size:1em;
	    }
	  }
	  @include breakpoint(sm) {
	  	margin-top:0;
	  	.btn{
	  		width:100%;
	  	}
	  	p.lead{
	    	text-align:center;
	    }
	  }
	}

	#logo-slider{
		margin-left:0;
	}

	.lSSlideOuter {
		overflow:inherit;
	}

	.slider-featured-img{
		box-shadow:0 2px 20px 0 rgba(0,0,0,.42);
	}


	ul.lSPager{
		position:relative;
		top:-115px;
		height:50px;
		overflow:visible!important;
		display:inline-block;
		@include breakpoint(lg) {
			top:-103px;
		}
		@include breakpoint(md) {
			top:-93px;
		}
		@include breakpoint(sm) {
			top:-72px;
		}
		li{
			opacity:.33;
			padding-bottom:$baseline*2;
			&.active{
				opacity:1;
				background:url(../images/slider_active.png) no-repeat bottom center;
				// @include breakpoint(xs) {
				// 	background-position:bottom center;
				// }
			}
		}
	}